<ion-header>
  <ion-toolbar color="dark">

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Dados do Anime</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="https://br.web.img2.acsta.net/pictures/18/07/17/21/23/3351719.jpg">
    </ion-card-header>

    <ion-card-content>
        <ion-row>
          <ion-col>
            <ion-item lines="none" class="ion-no-padding">
              <h3>Sailor Moon</h3>
              <ion-chip color="success">
                <ion-label>4.0</ion-label>
              </ion-chip>
            </ion-item>

              <ion-item lines="none" class="ion-no-padding">
                <div>
                  <h4 class="mmm">1992-1993</h4>
                  <br>
                  <ion-badge color="light">Magia</ion-badge>
                  <ion-badge color="light">Romance</ion-badge>
                  <ion-badge color="light">Shoujo</ion-badge>

                  <br>

                  <p>Em Tóquio, Usagi Tsukino é uma menina chorona, comilona e comum. Num certo dia, no caminho para a escola, ela encontra um grupo de rapazes batendo numa gata de rua.
                    Usagi salva a gata e tira um penso da testa dela que escondia uma meia-lua. Mais tarde a gatinha aparece no quarto de Usagi e começa a falar com ela, apresenta-se como Lua e entrega-lhe uma missão: a de ser uma Sailor guerreira, defensora do bem, destinada a enfrentar demónios e unir-se com outras sailors para encontrar a Princesa da Lua que habita a terra. Usagi recebe um broche especial que a transforma na guerreira Sailor Moon quando ela grita "Pelo poder do Prisma Lunar". Sua arma especial é a Tiara Lunar, a qual ela lança dizendo "Tiara Lunar, acção". Mais tarde Lua dá-lhe uma caneta que permite-lhe transformar-se em qualquer tipo de profissional, basta dizer "poder lunar".</p>
                </div>
              </ion-item>
          </ion-col>
        </ion-row>

    </ion-card-content>
  </ion-card>
</ion-content>

