<ion-header>
  <ion-toolbar color="dark">

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Dados do Anime</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="https://animefire.net/img/animes/jibaku-shounen-hanako-kun.webp">
    </ion-card-header>

    <ion-card-content>
        <ion-row>
          <ion-col>
            <ion-item lines="none" class="ion-no-padding">
              <h3>Jibaku S. Hanako-kun</h3>
              <ion-chip color="success">
                <ion-label>4.3</ion-label>
              </ion-chip>
            </ion-item>

              <ion-item lines="none" class="ion-no-padding">
                <div>
                  <h4 class="mmm">2020</h4>
                  <br>
                  <ion-badge color="light">Comédia</ion-badge>
                  <ion-badge color="light">Romance</ion-badge>
                  <ion-badge color="light">Shounen</ion-badge>
                  <ion-badge color="light">Sobrenatural</ion-badge>

                  <br>

                  <p>Na Academia Kamone, há rumores sobre os Sete Mistérios da escola, e um deles é Hanako-san. ... Nene Yashiro, uma garota fanática por ocultismo e que sonha com um romance, se aventura nesse banheiro assombrado, mas o Hanako-san que ela conhece não é como ela imaginou!</p>
                </div>
              </ion-item>
          </ion-col>
        </ion-row>

    </ion-card-content>
  </ion-card>
</ion-content>
