ion-item{
  --padding-start: 10px;
  --inner-padding-end: 10px;

  ion-thumbnail{
    height: 100%;
    margin-inline-end: 10px;
  }

  h1{
    font-weight: bold;
    font-size: 0.8rem;
    margin-bottom: 5px;
  }

  p{
    font-size: 0.7rem;
    margin-bottom: 5px;
  }

  ion-chip{
    padding-inline: 3px;
  }

  ion-badge{

      margin-right: 5px;
      font-weight: 50;
  }
}
