<ion-header>
  <ion-toolbar color="dark">

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Dados do Anime</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="https://img1.ak.crunchyroll.com/i/spire3/dac363972d628a7009e04fdeb9d7104a1641869274_full.jpg">
    </ion-card-header>

    <ion-card-content>
        <ion-row>
          <ion-col>
            <ion-item lines="none" class="ion-no-padding">
              <h3>Shingeki no Kyojin</h3>
              <ion-chip color="success">
                <ion-label>4.5</ion-label>
              </ion-chip>
            </ion-item>

              <ion-item lines="none" class="ion-no-padding">
                <div>
                  <h4 class="mmm">2013-2022</h4>
                  <br>
                  <ion-badge color="light">Ação</ion-badge>
                  <ion-badge color="light">Drama</ion-badge>
                  <ion-badge color="light">Fantasia</ion-badge>
                  <ion-badge color="light">Mistério</ion-badge>

                  <br>

                <p>Depois de ter sua casa destruída e sua mãe devorada diante de seus olho por Titãns, Eren Jaeger entra para os caçadores de titãs em busca de vingança por tudo o que passou.</p>
                </div>
              </ion-item>
          </ion-col>
        </ion-row>

    </ion-card-content>
  </ion-card>
</ion-content>
